<% provide(:title, "About Us") %>

<div class="col-sm-12 text-xs-center m-t-3">
	
	<div class="container-fluid">
		<div class="row stylish-panel">
			<div>
				<%= image_tag("chengyu_yao.jpg", alt: "Chengyu Yao", height: 150, :class => "img-circle") %>
				<h2 class="m-a-1">Chengyu Yao</h2>
				<hr>
				<p>
					Hello! I'm Chengyu, a <b>passionate</b> gamer and founder of Ignite.
					<br>
					<br>
					I love indie games. I love playing them (FTL and Isaac are some of my favorite games), I love watching others play them, and I love coming up with new indie game ideas with my friends.
					 Although nowadays, I mostly play Counter-Strike: Global Offensive. Still have yet to play Undertale... Will definitely do when I get the time!
					<br>
					<br>
					In terms of experiences, I have worked at Alcatel-Lucent, Microsoft Studio, and Tesla Motors. After working for these big companies, I realized that
					 my true passion is still with video games, and I intend to make the industry better for all of us.
					<br>
					<br>
					Let's <span style="color:orange">ignite</span> some projects!
				</p>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row stylish-panel">
			<div>
				<%= image_tag("michael_zhang.jpg", alt: "Michael Zhang", height: 150, :class => "img-circle") %>
				<h2 class="m-a-1">Michael Zhang</h2>
				<hr>
				<p>
					Still writing!
				</p>
			</div>
		</div>
	</div>
</div>