<% provide(:title, "Contact") %>

<div class="col-sm-12 text-xs-center m-t-3">
    <h1>Contact Us</h1>
	<hr>
    <p>
      For all inquiries contact us at <a href="mailto:ignite.crowdfund@gmail.com">ignite.crowdfund@gmail.com</a>
    </p>

</div>