<% provide(:title, "Coming Soon") %>

<div class="container" id="countdown">
  <div class="row">
    <div id="defaultCountdown"></div>
  </div>
</div>

<div class="container" id="signup">
  <div class="row">
    <p>Sign up for Alpha Testing</p>
    <%= simple_form_for(@alpha_tester, wrapper: :inline_form, html: {class: 'form-inline' }) do |f| %>
      <%= f.text_field :email, placeholder: 'Your email', class:'form-control' %>
      <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <i class="fa fa-check"></i>
      <% end %>
    <% end %>
  </div>
</div>

<script>
$(function () {
  var releaseDate = new Date();
  releaseDate = new Date(2016, 8-1, 22);
  $('#defaultCountdown').countdown({until: releaseDate});
  $('#year').text(releaseDate.getFullYear());
});
</script>
