<div class="comments-header">
</div>

<%= render partial: "comments/form", locals: {new_comment: new_comment, tag: tag} %>

<div class="comments-container">  
  <%= render partial: "comments/reply", locals: {comments: comments, tag: tag} %>
</div>