commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/100_start_faye_server.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      sudo su
      cd /var/app/current
      gem install thin
      (sudo su && RAILS_ENV=production rackup faye.ru -s thin -p 9292 -E production --timeout 60 start -d")