/*General*/
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
	color: $gray-dark;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*Footer*/
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-dark;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $gray-dark;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.centerfy img{
	margin: 0 auto;
}

.centerfy{
	text-align: center;
}

/*Homepage main containers*/

.container {
	margin-bottom: 10px;
}

.container-fluid {
	border-radius: 5px;
	margin-bottom: 10px;
	padding-top: 10px;
}

.stylish-panel {
    text-align: center;
}
.stylish-panel > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: 0.2s;
}
.stylish-panel > div:hover {
    margin-top: -10px;
    border: 1px solid $gray;
    box-shadow: $orange-light 1px 1px 0px 0px;
    background: rgba($gray, 0.13);
    transition: 0.2s;
}

.stylish-panel > div:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

#bottom-block {
	text-align: center;
}

/*Contact Us Page*/

#contact-page .hidden { 
	display: none;
}

#contact-page h1 {
	margin-bottom: 20px;
	text-align: center;
}

#contact-page h3 {
	margin-bottom: 20px;
	text-align: center;
}

#contact-page p {
	text-align: center;
}

/*Mobile*/

@media (max-width: 544px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

    .navbar, .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

@media (max-width: 544px) {
  .navbar-header {
    float: none;
  }
  .navbar-nav .nav-item {
    float: none;
	text-align: right;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
/* @extend .has-error; */	
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Button */

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  .btn,
  .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}