/* Typography */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Verdana, Geneva, sans-serif;
  color: $black;
}

body, p {
  color: $black;
  font-family: Arial, Helvetica, sans-serif;
}

/* General */

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.centerfy img{
	margin: 0 auto;
}

.centerfy{
	text-align: center;
}
.stylish-panel {
    text-align: center;
}
.stylish-panel > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: 0.2s;
}
.stylish-panel > div:hover {
    margin-top: -10px;
    border: 1px solid $gray;
    box-shadow: $orange-light 1px 1px 0px 0px;
    background: rgba($gray, 0.13);
    transition: 0.2s;
}

.stylish-panel > div:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

#bottom-block {
	text-align: center;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
/* @extend .has-error; */
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox-inline {
  margin-left: 0px;
}

/* Button */

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  .btn,
  .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}

/* Header */
#app_header {
  .navbar {
    background-color: $header;
  }
  min-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.navbar-brand {
  margin-left: 1rem;
  margin-right: 2rem;
}

/* Yield */
#app_yield {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Footer */
#app_footer {
  min-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  color: $white;
  background-color: $footer;
  .container {
    padding-top: 25px;

    a {
      color:$white;
      text-decoration: none;
    }
  }
}


/* Mobile */

@media (max-width: 544px) {
  .container {
    padding:0;
    margin:0;
  }

  body {
    padding:0;
  }
}