/* Custom Variables */

$red-light: 			#FFC0B8;
$orange-light: 			#FFD8B8;
$yellow-light: 			#FFFDEE;
$red-pastel: 			#FD7A68;
$orange-pastel: 		#FDAB68;
$yellow-pastel: 		#FEF7B3;
$red-bright:			#FE4205;
$orange-bright: 		#FC831C;
$yellow-bright: 		#FFFF2E;
$gray: 					#D5D2CB;
$gray-light: 			#F3F1EE;
$gray-very-light: 		#FCFCFC;
$gray-dark: 			#7F7D78;
$white:					#FFFFFF;
$black: 				#222020;
$transparent:			rgba(0,0,0,0);


/* Bootstrap Override */
$jumbotron-bg:			$transparent;
$headings-color:		$gray-dark;