<% provide(:title, @user.username) %>

<p>Sample user profile page</p>
<h1>
  <%= @user.username %>
</h1>
<% if @user.picture.nil? %>
<% else %>
  <%= image_tag @user.picture.asset.url %>
<% end %>
<%= @user.username %>, <%= @user.email %>