<nav class="navbar navbar-light bg-faded">
	<div class="navbar-toggleable-xs" id="navbar-header">
		<a class="navbar-brand" href="/">
			<%= image_tag("ignite_logo_text_brand.png", alt: "Ignite", height: "30") %>
		</a>
		<ul class="nav navbar-nav pull-xs-right">
			<li class="nav-item <%= is_active?('/') %>">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item <%= is_active?('/about') %>">
				<a class="nav-link" href="about">About</a>
			</li>
			<li class="nav-item <%= is_active?('/contact') %>">
				<a class="nav-link" href="contact">Contact</a>
			</li>
		</ul>
	</div>
</nav>