<% provide(:title, "About") %>

<div class="col-sm-12 text-xs-center m-t-3">
    <h1>About</h1>
	<div>
		<h2 class="p-t-3">Chengyu Yao</h2>
		<p>
		  Coming soon
		</p>
	</div>
	<div>
		<h2 class="p-t-3">Michael Zhang</h2>
		<p>
		  Coming soon
		</p>
	</div>

</div>