<% provide(:title, "About") %>

<div class="col-sm-12 text-xs-center m-t-3">
	<div>
		<h1>About</h1>
		<p>
			Coming soon
		</p>
	</div>
	<div>
		<h3 class="p-t-3">Chengyu Yao</h3>
		<p>
			Coming soon
		</p>
	</div>
	<div>
		<h3 class="p-t-3">Michael Zhang</h3>
		<p>
			Coming soon
		</p>
	</div>

</div>