<nav class="navbar navbar-light bg-faded">
	<div class="navbar-toggleable-xs" id="navbar-header">
		<a class="navbar-brand" href="/">
			<%= image_tag("ignite_logo_text.png", alt: "Ignite", height: "30") %>
		</a>
		<ul class="nav navbar-nav pull-xs-right">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="contact">Contact</a>
			</li>
		</ul>
	</div>
</nav>

<div class="col-sm-12 text-xs-center m-t-3">
	  <h1>Ignite</h1>

	  <p class="lead">
		The better crowdfunding platform for gamers
	  </p>
	  <h1 class="p-a-3">Coming Soon</h1>
		
</div>
