<% provide(:title, @project.name + "Discussion - Suggestions") %>
<div class="container">
  <%= render :partial => 'projects/header' %>
  <%= render :partial => 'projects/discussion_header' %>
      <%= render partial: "comments/template", locals: {commentable: @project, new_comment: @comment, commenting_tag: "suggestions"} %>
</div>
