<div class='row'>
	<% @projects.each do |project| %>
	    <%= render partial: "browse/tile", locals: {project: project} %>
	<% end %>
</div>

<%= will_paginate @projects, :renderer => WillPaginate::ActionView::LinkRenderer %>
