// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-bottom: 10px;
    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
  .vote-buttons {
    float: left;
    flex-direction: column;
    margin-right: 10px;
    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.body-section {
  margin-left: 10px;
}

.comments-show {
  margin-left: 50px;
}

#user-avatar {
  height: 72px;
  float: left;
  margin-right: 10px;
  img {
    margin-top: 11px;
    height: 50px;
  }
}

#user-info {
  a {
    display: inline;
  }
  p {
    display: inline;
    float: right;
    font-size: 70%;
    color: #888;
    }
}