// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Contact Us Page*/

#contact-page .hidden {
	display: none;
}

#contact-page h1 {
	margin-bottom: 20px;
	text-align: center;
}

#contact-page h3 {
	margin-bottom: 20px;
	text-align: center;
}

#contact-page p {
	text-align: center;
}

/*Main*/
#main-page {
  .row {
    margin-bottom: 100px;
  }
  #featured-carousel {
    margin-top: -100px;
    margin-bottom: 100px;
    height: 500px;
    width: 100%;
  }
  #carousel-staff-picks {
    position: absolute;
    height: 500px;
    width: 100%;
    top: 3.4rem;
    left: 0;
    background-color: $black;
  }

  #main-projects {
  }

  #main-activity-feed {
    .text-muted{
      color: black;
    }
  }

  #main-leaderboard {
  }

  .carousel-inner {
    height:100%;
  }

  .carousel-item {
    height:100%;
  }

  .carousel-caption {
    h3, p {
      color:$white;
    }
  }

  .carousel-inner > .carousel-item > img {
      margin: 0 auto;
      width: 100%;
  }
}

