<div class="container" >
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<ul>
				<b>Projects</b>
				<li><a href="/browse/landing">Browse</a></li>
				<li><a href="/browse/category?genre=All">All</a></li>
				<li><a href="/browse/category?genre=Action">Action</a></li>
				<li><a href="/browse/category?genre=Adventure">Adventure</a></li>
				<li><a href="/browse/category?genre=Puzzle">Puzzle</a></li>
				<li><a href="/browse/category?genre=RPG">RPG</a></li>
				<li><a href="/browse/category?genre=Simulation">Simulation</a></li>
				<li><a href="/browse/category?genre=VR">VR</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-4">
			<ul>

			</ul>
		</div>
		<div class="col-xs-12 col-md-4">
			<ul>
				<b>About Ignite</b>
				<li><a href="/contact">Contact us</a></li>
			</ul>

		</div>
		<div class="col-xs-12">
			<hr style="background-color:white;">
			<%= link_to image_tag("ignite_logo_text_brand_white.png", alt: "Ignite", height: "35", href:"/"), "/" %>
			<br>
			<small>
				&copy 2016 Ignite
			</small>
		</div>
		<div class="col-xs-12">
			<br>
			<small>
				Disclaimer: Projects are acquired from their respective crowdfunding sites; this site is not affliated with any of the crowdfunding sites. Each project's rights belong to their creators. Other media and artworks belong to their respective owner, used under the <a href='https://creativecommons.org/licenses/by/2.0/legalcode'> <u> Creative Commons license </u> </a>. Trademarks and related content are owned by their respective companies. Ignite claims no ownership or right to the projects displayed.
			</small>
		</div>
	</div>
</div>
